extends layout

block content
  h1 #{venue}
  h3 Bandleader: #{bandleader}
  
  div
    iframe.schedule-frame(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vRtY7JuDHmt0Mw1y2jqGUgw-9I6ZSeU-F_p_j-v_IyIBVp8b-aQibzFKMfJH4xGsNaiIYkfeh_JHm-A/pubhtml?headers=false&chrome=false&gid=0&range=A1:C18', width='307', height='397')
    iframe.schedule-frame(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vRtY7JuDHmt0Mw1y2jqGUgw-9I6ZSeU-F_p_j-v_IyIBVp8b-aQibzFKMfJH4xGsNaiIYkfeh_JHm-A/pubhtml?headers=false&chrome=false&gid=0&range=E1:G18', width='314', height='397')
    
  div
    iframe(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vRtY7JuDHmt0Mw1y2jqGUgw-9I6ZSeU-F_p_j-v_IyIBVp8b-aQibzFKMfJH4xGsNaiIYkfeh_JHm-A/pubhtml?headers=false&chrome=false&gid=0&range=I7:I11', width='194', height='109')

    //- iframe(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vRtY7JuDHmt0Mw1y2jqGUgw-9I6ZSeU-F_p_j-v_IyIBVp8b-aQibzFKMfJH4xGsNaiIYkfeh_JHm-A/pubhtml?headers=false&gid=0&range=A1:C18', width='300', height='500')
    //- iframe(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vRtY7JuDHmt0Mw1y2jqGUgw-9I6ZSeU-F_p_j-v_IyIBVp8b-aQibzFKMfJH4xGsNaiIYkfeh_JHm-A/pubhtml?headers=false&gid=0&range=E1:G18', width='300', height='500')
    //- iframe(src='https://docs.google.com/spreadsheets/d/e/2PACX-1vRtY7JuDHmt0Mw1y2jqGUgw-9I6ZSeU-F_p_j-v_IyIBVp8b-aQibzFKMfJH4xGsNaiIYkfeh_JHm-A/pubhtml?headers=false&gid=0&range=I1:I5', width='300', height='500')
