doctype html
html
  head
    title= title
    
    //- <!-- Required meta tags -->
    meta(charset="utf-8")
    meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no" )
    
    //- <!-- Bootstrap CSS -->
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")

    //- <!-- My Stylesheet -->
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container.ml-0.mr-0
      div.row.ml-0.mr-0
        div.col.d-none.d-md-block.col-sm-2
        //- div.col.d-none.d-md-block.test-background-color.col-sm-2
        div.col.col-xs-12
          nav.navbar.navbar-expand-lg.navbar-light.bg-light
            //- a.navbar-brand(href='#') Sullivan's Portal
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item.active
                  a.nav-link(href='/')
                    | Home 
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href='schedule') Schedule
                li.nav-item.drop-down
                  a.nav-link.dropdown-toggle(data-toggle='dropdown', href="#", role='button', aria-haspopup='true', aria-expanded='false') Performer Policies & Agreement  
                  div.dropdown-menu
                    a.dropdown-item(href="http://localhost:3000/terms_policies?venue=SSHLS&day=Thu&date=09/12/76&venueCompleteName=244%20S%20Main%20St,%20Naperville,%20IL%2060540&venueAddress=244%20S%20Main%20St,%20Naperville,%20IL%2060540&mapURL=https://goo.gl/maps/Vnrnhkhuqby") Lincolnshire Saturday's
                    a.dropdown-item(href="http://localhost:3000/terms_policies?venue=SSHNV&day=Thu&date=09/12/76&venueCompleteName=244%20S%20Main%20St,%20Naperville,%20IL%2060540&venueAddress=244%20S%20Main%20St,%20Naperville,%20IL%2060540&mapURL=https://goo.gl/maps/Vnrnhkhuqby") Naperville Thursday's
                li.nav-item
                  a.nav-link.disabled(href='#') Performer List
              //- form.form-inline.my-2.my-lg-0
              //-   input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
              //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
          
          div.border-top.center-text.test-background-color
            block content
        div.col.d-none.d-md-block.col-sm-2
        //- div.col.d-none.d-md-block.test-background-color.col-sm-2

    //- block content

    
    //- <!-- Optional JavaScript -->
    //- <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous")
